$primary-color : #6c5dd3;
$sub-color : #f1f1f1;
$btn-color : #ff754c;
$text-color: #11142d;
$subtext-color: #636474;


.popular_item{
    justify-content: space-between;
}
.page-center_popular{
    margin-top: 2rem;

}
.popular_item-img{
    position: relative;
    border-radius:24px;
    overflow: hidden;
    width:95%;
    height: 676px;
    & img {
        width:100%;
        height:100%;
    }
}
.popular_item-box{
    position: absolute;
    top: 0;
    padding: 2rem;
    color: #fff;

}
.popular_item-btn{
    transform: translate(-20%,-40%);
    font-size: 3rem;
    & i{
        margin-left: 2rem;
    }
    margin-left: 0;
}
.popular_item-tag{
    margin-top: 23rem;
    font-weight: 600;
    display: flex;
    & p{
        padding: 0 .5rem;
        color: #fff;
        background-color: 
        #45417f;
        border-radius: 10px;
        margin-left: 1rem;

    }
}
.popular_item-desc{
    margin: .5rem 0;
    font-size: 0.8rem;
}
.popular_item-title{
    font-weight: 500;
    margin-top: .5rem;
}
.btn-follow{
    margin-top: 1rem;
    width: 7rem;
    padding: 0;
    height: 3rem;
    line-height: 3rem;
}
.popular_item-item2{
    display:flex;
    width: 95%;
    // margin-left: 1rem;
    // justify-content:space-between;
}
.popular_item-tag2{
    margin: 0;
    font-size: .8rem;
    margin-top: 1rem;
    & p{
        padding: .1rem 1rem;
    color: #4594fe;
    border-radius:8px;
    background-color: 
    #e8ebf3;
    }
}
.popular_item-group{
    height: 200px;
    padding:.5rem;
    border-radius:20px;
    box-shadow: 0 10px 36px rgb(227 230 236 / 60%);
    overflow: hidden;
    margin-bottom: 2.5rem;
}
.popular_item-item2-img img{
    height:186px;
    border-radius:20px;

}
.popular_item-item2-box{
    margin-left: 1.5rem;
    & h2{
        font-size: 1.3rem;
        padding:0;
        &:hover{
            color: $primary-color;
        }
    }
    & p{
        margin:0;
    }
}
.dot-view{
    color:forestgreen;
}
.btn-follow2{
    background-color: $sub-color;
    color: $text-color;
    &:hover{
        opacity: 0.8;
    }
}
